language: julia
os:
- linux
julia:
- 0.6
notifications:
  email: false
git:
  depth: 99999999
cache:
  timeout: 1000
  directories:
  - downloads
env:
  global:
  - BINARYBUILDER_DOWNLOADS_CACHE=downloads
  - BINARYBUILDER_AUTOMATIC_APPLE=true
sudo: required
before_script:
- julia -e 'Pkg.clone("https://github.com/JuliaPackaging/BinaryProvider.jl")'
- julia -e 'Pkg.clone("https://github.com/JuliaPackaging/BinaryBuilder.jl"); Pkg.build()'
script:
- julia generate_code.jl
- julia build_tarballs.jl

deploy:
  provider: releases
  api_key:
    secure: tf9kNE+vAYNfcx8457Z4Py99UKiP7BW0Lh2sT7kGrXq2bijTSIbHPkobbqKXDd1BC8YM8h6hloBgpqAVLs8Ebs9r8Gb23KHvhgFtB+SxOwUGUsFdbvYLm47zNHipQ094V9zL1zBIdJcZJP3auCCo8IkcHmzAvymVTfQS6AS4RaavHlKY+c+R20H8CLF+oAgXZ1u+FOPpz9Bb8+a4vJHP4PSTHGQvbSYZc9xYY2WbAbW59N7bNZViQ7YvwW8p2KbMcU7mglGg9nHsk/lh2i53M5+htL4WVMuGm7P1j5nBrQ0ggPfhmIy1Q28yM7NpvMSfTfEWlLv3UFTX70pVAjxSqBbjWqHhUvdvN4GcZvvSb+7IbisRP5BNgyr46TwruGZNdNNasRP97dkQd4VEtVDzGzV8M8RlshtgYHOn5IAHTA+OpjrKvpg9pXmY9lRUl7bupkaCualhFSQbgIReb06KUy+qZgWTB2ILtUw1Rekg8XisfwXC7goLIeLPujU4PS7o7JXpBVGGPfWad1Bn836uLlovVT23rWBhnPDeLRXIMkTDMZ//au04DXWr+4BS4h2xZahSPJTszWsTH5nmYetZAA3nXv4eqBGjQtz7rj4JT5k68f8RWbIFiFaxK6orbVI0+a1X/3PDZSF2npgxKAlnRA0FLwPguDMv9VGEK6AdEXc=
  file_glob: true
  file: products/*
  skip_cleanup: true
  on:
    repo: SimonDanisch/EarCutBuilder
    tags: true
